
<ion-card (click)="handleClick()">
  <ion-card-header>
    <ion-button class="ion-float-right" color="danger" (click)="handleDeleteClick()"><ion-icon name="trash-outline"></ion-icon></ion-button>
    <ion-card-subtitle>{{ unixToString(journal.lastEdit) }}</ion-card-subtitle>
    <ion-card-title>
      {{ journal.title }} {{ journal.saved || journal.saved === undefined ? "" : "*"}}
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{ journal.content.length > 250 ? journal.content.substring(0, 250) + "..." : journal.content }}
  </ion-card-content>
</ion-card>
