
<ion-card color="{{ this.journal.id === this.selectedJournal.id ? 'medium' : '' }}" (click)="handleClick()">
  <ion-card-header>
    <ion-button class="ion-float-right" color="danger" (click)="handleDeleteClick()"><ion-icon name="trash-outline"></ion-icon></ion-button>
    <ion-card-subtitle>{{ unixToString(journal.lastEdit) }}</ion-card-subtitle>
    <ion-card-title>
      {{ journal.title }} {{ journal.saved || journal.saved === undefined ? "" : "*"}}
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{ journal.content.length > 250 ? journal.content.substring(0, 250) + "..." : journal.content }}
  </ion-card-content>

  <ion-button size="small" class="edits-btn" (click)="showVersionsModal()">Edits</ion-button>
</ion-card>

<ion-modal [isOpen]="isModalOpen" (didDismiss)="resetModal()">
  <ng-template>
    <edits-history-list [journals]="journal.versions"></edits-history-list>
  </ng-template>
</ion-modal>
