<ion-header>
  <ion-toolbar>
    <ion-title>
      Journal App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <journal-list
          [journals]="journals ?? []"
          (onJournalClick)="handleJournalClick($event)"
          (onNewJournalClick)="handleNewJournalClick()"
          (onDeleteJournalClick)="handleDeleteJournalClick($event)"
        ></journal-list>
      </ion-col>
      <ion-col size="8">
        <journal-editor
          *ngIf="selectedJournal"
          [journal]="selectedJournal"
          (onSave)="handleSave($event)"
        ></journal-editor>
        <div class="empty" *ngIf="!selectedJournal">
          <h3>It looks like you don't have journal entries!</h3>
          <h4>Why not try creating one 😅</h4>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>